<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-header level">
                        <h1 class="card-header-title"><%= @event.title %></h1>
                        <%= @event.start_date %> till <%= @event.end_date %>
                    </div>
                    <div class="card-content">
                        <p><%= @event.description %></p>
                    </div>
                    <div class="card-footer">
                        <% @event.voters.each do |voter| %>
                            <article class="media-object card-footer-item">
                                <%= voter.name %>
                                <div class="media-content is-centered">
                                </div>
                            </article>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="columns is-centered">
        <%= render :partial => "voters/new", :object => @voter %>
        <%= render :partial => "votes/new", :object => @vote %>
    </div>
</section>
