<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-header level">
                        <h1 class="card-header-title"><%= @event.title %></h1>
                        <% if @event.end_date - @event.start_date <= 7 %>
                            <span class="tag is-primary">Week Long Event</span>
                        <% else %>
                            <span class="tag is-primary">Month Long Event</span>
                        <% end %>
                        <span class="tag"><%= @event.start_date %> till <%= @event.end_date %></span>
                    </div>
                    <div class="card-content">
                        <p><%= @event.description %></p>
                    </div>
                    <div class="card-footer">
                        <% @event.voters.each do |voter| %>
                            <article class="media-object card-footer-item">
                                <span class="tag"><%= voter.name %></span>
                                <div class="media-content is-centered">
                                </div>
                            </article>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="columns is-centered">
            <%= render :partial => "voters/new", :object => @voter, locals: {event: @event} %>
    </div>
</section>
